.center-div {
    /* margin: 0 auto!important; */
    width: 100% !important;
    text-align: center !important;
    display: inline-block;
}

body {
    width: 100%;
}

.species {
    width: 200px;
    height: 120px;
    padding: 15px;
    text-wrap: normal;
    border: 1px solid blue;
    margin: 5px;
}

img.image {
    width: 80px;
    height: 80px;
    float: inside;
    position: relative;
}

input[type=submit] {
    width: 30px;
    height: 20px;
    background-color: cyan;
}